body {
    margin: 0px;
}

.fontBold {
    font-weight: bold;
font-size: 1.5rem;
}

.sidebar {
    background-color: #2A3647;
    height: 1024px;
    width: 232px;
}

.content {
    display: flex;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    height: 89px;
}

.headerHeadline {
    margin-left: 116px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.iconsHeader {
    margin-right: 36px;
    display: flex;
    align-items: center;
}

.profilIcon {
    margin-left: 26px;
}

.main {
    background-color: #F5F5F5;
    height: 935px;
    width: 90vw;
}

.headline {
    display: flex;
    margin-left: 123px;
    align-items: center;
    justify-content: space-between;
}

.board {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-right: 60px;
    height: 90px;
    margin-bottom: 87px;
    margin-top: 82px;
}

.contentChild {
    width: 1700px;
    display: flex;
    margin-left: 123px;
    justify-content: space-between;
}

.searchAddTask {
    display: flex;
    margin-right: 65px;
}

.searchBar {
    display: flex;
    align-items: center;
    width: 251px;
    height: 51px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.inputSearch {
    height: 40px;
    border: none;
    width: 190px;
    margin-left: 10px;
}

.lineBoard {
    border-style: groove;
    border-right: 1px solid #D1D1D1;
    border-left: none;
    border-bottom: none;
    border-top: none;
    height: 31px;
}

.lensContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 47px;
}

.lensImg {
    width: 27px;
    height: 31px;
    cursor: pointer;
}

.addTaskContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A3647;
    width: 137px;
    height: 51px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 35px;
    cursor: pointer;
}

.addTaskContainer:hover {
    background-color: #2AABE2;
}

.addTaskIcon {
margin-left: 15px;
}

.dragAreaHighlight {
    background-color: #a5a3a3;
    border-radius: 10px;
}

.area {
width: 330px;
height: auto;
transition: 525ms;
padding: 10px;
}


.areaTodoDrag {
    height: 200px;
    width: 300px;
}

.areaChild {
    display: flex;
    justify-content: space-between;
    width: 342px;
    margin-bottom: 16px;
}

.addTaskSvg {
    cursor: pointer;
    padding-right: 20px;
}

.addTaskSvg :hover rect {
    stroke: #2AABE2;
    color: #2AABE2;
    fill: #2AABE2;

}

.taskContainer {
    width: 300px;
    height: fit-content;
    background-color: #FFFFFF;
    padding: 16px;
    margin-right: 26px;
    margin-bottom: 16px;
    border-radius: 30px;
    cursor: pointer;
}

.titleContainer {
    margin-bottom: 8px;
    font-weight: bold;
}

.categoryContainer {
    display: flex;
    justify-content: center;
color: #FFFFFF;
width: 100px;
border-radius: 8px;
margin-bottom: 16px;
}

.descriptionContainer {
    height: fit-content;
    color: #A8A8A8;
    word-break: break-word;
    margin-bottom: 8px;

}

.doneHeadlineContainer {
    display: flex;
    justify-content: space-between;
}

.feedbackHeadlineContainer {
    display: flex;
    justify-content: space-between;
}

.progressHeadlineContainer {
    display: flex;
    justify-content: space-between;
}

.todoHeadlineContainer {
    display: flex;
    justify-content: space-between;
}

.svg {
    cursor: pointer;
}

.pathA {
    stroke: #2AABE2;
}

.pathB {
    stroke: #2AABE2;
}

.rect {
        stroke: #2AABE2;
}



/* add Task Pop Up Start */
.contPopupAddTask {
    color: #2A3647;
    font-weight: normal;
    position: absolute;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

}

.popupAddTaskHeader {
    color: #2A3647;
    display: flex;
    justify-content: space-between;
}

.popupAddTaskHeader div {
    font-size: 32px;
}


/* add Task Pop Up End */
