body {
    margin: 0px;
}

.fontBold {
    font-weight: bold;
    font-size: 1.5rem;
}

.sidebar {
    background-color: #2A3647;
    height: 1024px;
    width: 232px;
}

.content {
    display: flex;
    width: 100%;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    height: 89px;
}

.headerHeadline {
    margin-left: 116px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.iconsHeader {
    margin-right: 36px;
    display: flex;
    align-items: center;
}

.profilIcon {
    margin-left: 26px;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content--container {
    background-color: #F5F5F5;
    height: 100%;
}

.headline {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.board {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 22px;
    margin-top: 22px;
    margin-left: 3%;
}

.tasklist-container {
    display: flex;
    width: 100%;
}

.searchAddTask {
    display: flex;
    margin-right: 65px;
}

.searchBar {
    display: flex;
    align-items: center;
    width: 251px;
    height: 51px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.inputSearch {
    height: 40px;
    border: none;
    width: 190px;
    margin-left: 10px;
}

.lineBoard {
    border-style: groove;
    border-right: 1px solid #D1D1D1;
    border-left: none;
    border-bottom: none;
    border-top: none;
    height: 31px;
}

.lensContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 47px;
}

.lensImg {
    width: 27px;
    height: 31px;
    cursor: pointer;
}

.addTaskContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A3647;
    width: 137px;
    height: 51px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 35px;
    cursor: pointer;
}

.addTaskContainer:hover {
    background-color: #2AABE2;
}

.addTaskIcon {
    margin-left: 15px;
}

.dragAreaHighlight {
    background-color: #a5a3a3;
    border-radius: 10px;
}

.area {
    width: 100%;
    height: auto;
    transition: 525ms;
    padding: 10px;
}

.todoContainer,
.progressContainer,
.feedbackContainer,
.doneContainer {
    width: 20%;
    margin-left: 3%;
}

.contactsPrioContainer {
    display: flex;
    justify-content: space-between;
}

.contactsPictureContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardInitialsShortName {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 80px;
    min-height: 36px;
    min-width: 36px;
    color: white; 
}

.prioImage {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-style: solid;
    border-width: 1px;
    border-radius: 80px;
    min-height: 48px;
    min-width: 48px;
    margin-right: 30px;
    color: white;
}

.boardInitialsInitials {
    min-height: 23px;
}

.areaTodoDrag,
.areaProgressDrag,
.areaFeedbackDrag,
.areaDoneDrag {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.areaChild {
    display: flex;
    justify-content: space-between;
    width: 342px;
    margin-bottom: 16px;
}

.addTaskSvg {
    cursor: pointer;
    padding-right: 20px;
}

.addTaskSvg :hover rect {
    stroke: #2AABE2;
    color: #2AABE2;
    fill: #2AABE2;

}

.taskContainer {
    width: 80%;
    height: fit-content;
    background-color: #FFFFFF;
    padding: 16px;
    margin-right: 26px;
    margin-bottom: 16px;
    border-radius: 30px;
    cursor: pointer;
}

.titleContainer {
    margin-bottom: 8px;
    font-weight: bold;
}

.categoryContainer {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    width: 100px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.descriptionContainer {
    height: fit-content;
    color: #A8A8A8;
    word-break: break-word;
    margin-bottom: 8px;

}

.doneHeadlineContainer {
    display: flex;
    justify-content: space-between;
}

.feedbackHeadlineContainer {
    display: flex;
    justify-content: space-between;
}

.progressHeadlineContainer {
    display: flex;
    justify-content: space-between;
}

.todoHeadlineContainer {
    display: flex;
    justify-content: space-between;
}

.svg {
    cursor: pointer;
}

.pathA {
    stroke: #2AABE2;
}

.pathB {
    stroke: #2AABE2;
}

.rect {
        stroke: #2AABE2;
}


/* Add Task Overview Pop Up */
.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(2px);
    z-index: 99;
    cursor: pointer;
}

.TaskCard {
    height: 800px;
    width: 600px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContentBoxOverlay{
    width: 90%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    font-weight: 400;
    font-size: 18px;
    cursor: default;
    overflow: auto;
}
.overlayCategory{
    padding: 5px 15px;
    color: white;
    display: flex;
    justify-content: center ;
    align-items: center;
    font-size: 27px;
    border-radius: 10px;
}
.overlayTitle{
    font-weight: 700;
    font-size: 50px;
    
}
.overlayTitle h5{
    margin: 0;
    color:#2A3647;
    font-size: 61px;
}
.overlayDiscription{
    font-weight: 400;
    font-size: 21px;

}
.overlayDate{
    display: flex;
    gap: 25px;
}

.overlayPrio {
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
}

.overlayCardPrio {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 10px;
    gap: 10px;
    color: white;
}

.overlayInitialArea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
.overlayInitials{
    display: flex;
    align-items: center;
    gap: 25px;
}
.overlaySubtasks{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.overlaySubtasks h5{
    margin: 0;
}

.overlayTaskClose {
    position: absolute;
    z-index: 100;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.overlayTaskEdit {
    position: absolute;
    z-index: 100;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.overlayTaskShortName {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Low {
    background-color: #7AE229;
}

.Medium {
    background-color: #FFA800;
}

.Urgent {
    background-color: #FF3D00;
}

