body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.d-none {
    display: none;
}

.contacts-wrapper {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
}

.contacts-wrapper-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contacts-wrapper-inner-content {
    display: flex;
    overflow: hidden;
}

.contacts-list {
    height: 100%;
    max-width: 35%;
    overflow-y: scroll;
    overflow-x: wrap;
    border-right: 1px solid rgba(191, 191, 191, 0.4);
    box-shadow: 0px 4px 4px;
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
}

.contact-list-letterSeperator-section {
    margin-top: 10px;
}

.contacts-list-letter {
    margin-left: 35px;
    font-size: 21px;
}

.contacts-list-headrow {
    margin-top: 30px;
}

.contacts-list-contact {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 5px;
}

.contacts-list-contact:hover {
    background-color: rgba(42, 54, 71, 1);
    cursor: pointer;
    color: white;
}

.contacts-list-contact-picture {
    min-height: 38px;
    min-width: 38px;
    border-radius: 30px;
    border-width: 1px;
    border-style: none;
    margin-right: 10px;
    background-color: rgb(255, 234, 0);
}

.contacts-list-contact-keys-name {
    margin: 0px;
}

.contacts-list-contact-keys-email {
    color: rgb(17, 128, 255);
    text-decoration: none;
}

.contacts-list-contact-keys-email:hover {
    cursor: pointer;
    text-decoration: underline;
}

.contacts-list-contact-keys-email span {
    font-size: 1.3rem;
}

.contacts-overview {
    margin-left: 35px;
}

.contacts-overview-headline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contacts-overview-headline hr {
    border-color: aqua;
    border-style: solid;
    height: 55px;
    margin-right: 15px;
}

.contacts-overview-headline h1 {
    font-size: 61px;
    margin-right: 15px;
}

.contacts-overview-headline span {
    font-size: 27px;
}

.overview-headline-container h3 {
    font-size: 47px;
    font-weight: normal;
}

.contacts-overview-container .overview-headline-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contacts-overview-container .overview-headline-container img {
    height: 84px;
    width: 84px;
    border-radius: 60px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(77, 65, 65, 0.8);
    margin-right: 15px;
    background-color: rgb(255, 94, 0);
}

.contacts-overview-container .overview-body-contactInformation {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 20px;
}

.contacts-overview-container .overview-body-contactInformation span:first-child {
    font-size: 21px;
}

.contacts-overview-container .overview-body-editContact-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
}

.contacts-overview-container .overview-body-bonusInformation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
}

.contacts-overview-container .overview-body-bonusInformation div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.addContact-button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    padding: 7px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #2A3647;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}

.addContact-button img {
    height: 16px;
    width: 16px;
    margin-left: 5px;
}

.addContact-button:hover {
    cursor: pointer;
    background-color: rgba(42, 54, 71, 0.8)
}

/*  desktop-topBar-template CSS  */

.sidemenu-container-desktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: rgba(42, 54, 71, 1);
}

.sidemenu-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sidemenu-mainLogo-desktop {
    margin-bottom: 100px;
    margin-top: 40px;
}

.sidemenu-allLinks-container-desktop {
    width: 100%;
    overflow: hidden;
}

.sideMenu-link-container-desktop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sideMenu-link-container-desktop:hover {
    background-color: rgba(9, 25, 49, 1);
    cursor: pointer;
}

.sideMenu-link-container-desktop a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
} 

.contactsLink {
    margin-left: 38px !important;
}

.summaryLink {
    margin-left: 35px !important;
}

.addTaskLink {
    margin-left: 25px !important;
}

.boardLink {
    margin-left: 30px !important;
}


/*  topBar-template CSS  */


.desktop-topBar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.desktop-topBar-container span {
    padding-left: 160px;
}

.desktop-topBar-container div {
    padding-right: 10px;
}

.desktop-topBar-content-container {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: rgba(191, 191, 191, 0.4) 4px 4px 4px;
    z-index: 0;
}

/*  topBar-template CSS ends  */