<div class="contactPopUp-join-container">
    <div class="contactPopUp-join-container-inner">
        <img src="../Join/assets/img/mainlogo-desktop.png" alt="img">
        <h1>Add contact</h1>
        <span>Tasks are better with a team!</span>
        <hr>
    </div>
</div>
<div class="contactPopUp-form-container">
    <div class="contactPopUp-form-headline" onclick="hideAddContact()"><img src="../Join/assets/img/cross.png" alt=""></div>
    <div class="contactPopUp-form-body">
        <div class="contactPopUp-form-body-img">
            <div class="contactPopUp-form-body-img-picture">
                <span class="contacts-overview-contact-picture">
                    VM
                </span>
            </div>
        </div>
        <div class="contactPopUp-form-body-formular">
            <form onsubmit="addContact()">
                <input required type="text" placeholder="Preame" id="add_prename_input">
                <input required type="text" placeholder="Name" id="add_name_input">
                <input required type="email" placeholder="Email" id="add_email_input">
                <input required type="tel" placeholder="Phone" id="add_phone_input">
                <div>
                    <input type="button" value="Cancel" id="cancelButton" class="cancelButton">
                    <input type="button" value="Create contact" id="submitButtonAddContact" class="submitButton" onclick="addContact()">
                </div>
            </form>
        </div>
    </div>
</div>