<div class="contactPopUp-join-container">
    <div class="contactPopUp-join-container-inner">
        <img src="../Join/assets/img/mainlogo-desktop.png" alt="img">
        <h1>Edit contact</h1>
        <hr>
    </div>
</div>
<div class="contactPopUp-form-container">
    <div class="contactPopUp-form-headline" onclick="hideEditContact()"><img src="../Join/assets/img/cross.png" alt=""></div>
    <div class="contactPopUp-form-body">
        <div class="contactPopUp-form-body-img">
            <div class="contactPopUp-form-body-img-picture">
                <span class="contacts-overview-contact-picture">
                    VM
                </span>
            </div>
        </div>
        <div class="contactPopUp-form-body-formular">
            <form onsubmit="editContact(); return false;">
                <input required type="text" placeholder="Name" id="edit-name-input">
                <input required type="email" placeholder="Email" id="edit-email-input">
                <input required type="tel" placeholder="Phone" id="edit-phone-input">
                <div>
                    <input type="submit" value="Save" id="submitButtonEditContact" class="submitButton">
                </div>
            </form>
        </div>
    </div>
</div>