<div class="sidemenu-container-desktop">
    <div class="sidemenu-content-wrapper">
        <img class="sidemenu-mainLogo-desktop" src="../../assets/img/mainLogo-desktop.png" alt="">
        <div class="sidemenu-allLinks-container-desktop">
            <div class="sideMenu-link-container-desktop">
                <img src="/assets/img/summaryIcon.png" alt=""><a class="summaryLink" href="/summary.html">Summary</a>
            </div>
            <div class="sideMenu-link-container-desktop">
                <img src="/assets/img/boardIcon.png" alt=""><a class="boardLink" href="/board.html">Board</a>
            </div>
            <div class="sideMenu-link-container-desktop">
                <img src="/assets/img/addTaskIcon.png" alt=""><a class="addTaskLink" href="/add_task.html">Add Task</a>
            </div>
            <div class="sideMenu-link-container-desktop">
                <img src="/assets/img/contactsIcon.png" alt=""><a class="contactsLink"
                    href="/contacts.html">Contacts</a>
            </div>
        </div>
    </div>
</div>