<div class="sidemenu-container-desktop">
    <div class="sidemenu-content-wrapper">
        <img class="sidemenu-mainLogo-desktop" src="../../../Join/assets/img/mainLogo-desktop.png" alt="">
        <div class="sidemenu-allLinks-container-desktop">
            <div class="sideMenu-link-container-desktop">
                <img src="../../../Join/assets/img/summaryIcon.png" alt=""><a class="summaryLink" href="#">Summary</a>
            </div>
            <div class="sideMenu-link-container-desktop">
                <img src="../../../Join/assets/img/boardicon.png" alt=""><a class="boardLink" href="#">Board</a>
            </div>
            <div class="sideMenu-link-container-desktop">
                <img src="../../../Join/assets/img/addTaskIcon.png" alt=""><a class="addTaskLink" href="#">Add Task</a>
            </div>
            <div class="sideMenu-link-container-desktop">
                <img src="../../../Join/assets/img/contactsIcon.png" alt=""><a class="contactsLink"
                    href="#">Contacts</a>
            </div>
        </div>
    </div>
</div>