

<div class="desktop-topBar-container">
    <img class="mainLogo" src="assets/img/capa1.png" alt="">
    <span>Kanban Project Management Tool</span>
    <div class="image-container-top-bar">
        <a href="help.html"><img class="desktop-topBar-helpPicture" src="assets/img/help.png"></a>
        <img class="desktop-topBar-profilPicture" id="desktop_topBar_profilPicture"
            src="assets/img/stockProfileImg1.png" alt="">
        <div class="logout-container">
            <p onclick="logout()"class="logout-text">Logout</p>
           <!-- <span onclick="routeToPage('legal.html')">Legal info</span>-->
        </div>
    </div>
    </div>
</div>