<div class="sidemenu-container-desktop">
    <img class="sidemenu-mainLogo-desktop" src="assets/img/mainLogo-desktop.png" alt="">
    <div class="sideMenu-link-container-desktop" onclick="routeToPage('summary.html')">
        <img src="assets/img/summaryIcon.png" alt=""><a class="summaryLink">Summary</a>
    </div>
    <div class="sideMenu-link-container-desktop" onclick="routeToPage('board.html')">
        <img src="assets/img/boardIcon.png" alt=""><a class="boardLink">Board</a>
    </div>
    <div class="sideMenu-link-container-desktop" onclick="routeToPage('add_task.html')">
        <img src="assets/img/addTaskIcon.png" alt=""><a class="addTaskLink">Add Task</a>
    </div>
    <div class="sideMenu-link-container-desktop" onclick="routeToPage('contacts.html')">
        <img src="assets/img/contactsIcon.png" alt=""><a class="contactsLink">Contacts</a>
    </div>
    <div class="sideMenu-link-container-desktop legalLink-container" onclick="routeToPage('legal.html')">
        <img src="assets/img/info.png" alt="info"><a class="legalLink">Legal notice</a>
    </div>
</div>