<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleMobileTemplate.css">
</head>

<body>
    <div class="sidemenu-container-mobile">
        <div class="sidemenu-content-wrapper">
            <img class="sidemenu-mainLogo-mobile" src="../img/mainLogo-desktop.png" alt="">
            <div class="sidemenu-allLinks-container-mobile">
                <div class="sideMenu-link-container-mobile">
                    <img src="../img/summaryIcon.png" alt=""><a class="summaryLink" href="#">Summary</a>
                </div>
                <div class="sideMenu-link-container-mobile">
                    <img src="../img/boardIcon.png" alt=""><a class="boardLink" href="#">Board</a>
                </div>
                <div class="sideMenu-link-container-mobile">
                    <img src="../img/addTaskIcon.png" alt=""><a class="addTaskLink" href="#">Add Task</a>
                </div>
                <div class="sideMenu-link-container-mobile">
                    <img src="../img/contactsIcon.png" alt=""><a class="contactsLink" href="#">Contacts</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>